src/Node-red.txt
[{"id":"b5d1af96.0416f8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"84e0faf6.ff719","type":"tcp in","z":"b5d1af96.0416f8","name":"","server":"client","host":"localhost","port":"60001","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":270,"y":200,"wires":[["8b15fd6a.ccc7f8","12d13896.f2b0cf"]]},{"id":"26bc1be3.b0475c","type":"http request","z":"b5d1af96.0416f8","name":"Web Req","method":"POST","ret":"txt","url":"https://maker.ifttt.com/trigger/{{event}}/with/key/kP2y9b6pYteeZHOW8QrXQAPK4YdZdFQfsP5xxe2kP5Z","tls":"","x":720,"y":280,"wires":[["79b96704.d6a59"]]},{"id":"79b96704.d6a59","type":"debug","z":"b5d1af96.0416f8","name":"","active":true,"tosidebar":true,"console":false,"complete":"false","x":890,"y":280,"wires":[]},{"id":"12d13896.f2b0cf","type":"function","z":"b5d1af96.0416f8","name":"Req Params","func":"msg.event = \"Alarm_req\";\nvar patt = /ALARM \\d \\d/;\nvalue1 = patt.exec(msg.payload).toString().split(\" \")[1];\nvalue2 = patt.exec(msg.payload).toString().split(\" \")[2];\nmsg.payload = {\"value1\": value1, \"value2\": value2};\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":280,"wires":[["26bc1be3.b0475c"]]},{"id":"8b15fd6a.ccc7f8","type":"debug","z":"b5d1af96.0416f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":340,"wires":[]},{"id":"d1707d51.bb5138","type":"tcp in","z":"b5d1af96.0416f8","name":"","server":"client","host":"localhost","port":"60002","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":270,"y":260,"wires":[["12d13896.f2b0cf","8b15fd6a.ccc7f8"]]},{"id":"1c2041fe.225436","type":"tcp in","z":"b5d1af96.0416f8","name":"","server":"client","host":"localhost","port":"60003","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":270,"y":320,"wires":[["12d13896.f2b0cf","8b15fd6a.ccc7f8"]]},{"id":"bae52f92.33506","type":"tcp in","z":"b5d1af96.0416f8","name":"","server":"client","host":"localhost","port":"60004","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":270,"y":380,"wires":[["12d13896.f2b0cf","8b15fd6a.ccc7f8"]]},{"id":"4cfc72e0.3e5be4","type":"tcp in","z":"b5d1af96.0416f8","name":"","server":"client","host":"localhost","port":"60005","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":270,"y":440,"wires":[["12d13896.f2b0cf","8b15fd6a.ccc7f8"]]}]
